#header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #f2f2f2;
}

#header ul {
	display: flex;
	align-items: center;
	list-style: none;
	margin: 0;
}

#header h3 {
	margin: 0;
}

#header h3 a {
	text-decoration: none;
	color: #337ab7;
}

#header li {
	margin-right: 10px;
}

.login {
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.heading {
	display: flex;
	justify-content: center;
}

.profile {
	display: flex;
	justify-content: center;
}

.content {
	display: flex;
	justify-content: center;
}

input {
	margin-bottom: 20px;
}

#local-login {
	margin-right: 20px;
}

.login a {
	text-decoration: none;
}
