<div id="header">
    <div>
        <h3><a href="#/">Authentication</a></h3>
    </div>
    <div>
        <ul class="nav nav-pills">
            <li><a href="#/">Home</a></li>
            <li><a href="#/profile">My Polls</a></li>
            <li><a href="#/newpoll">New Poll</a></li>
            <li><a href="#/logout" >Logout</a></li> 
            <li>{{user.email}}</li>
        </ul>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="content">
            <form>
                <h1>Make a new poll</h1>
                <label for="pollTitle">Title</label>
                <input type="text" id="pollTitle" class="form-control">
                <label for="pollOptions">Options (separated by line)</label>
                <textarea rows="8" cols="50" id="pollOptions" class="form-control"></textarea>
                <button class="btn btn-primary">Create</button>
            </form>
        </div>
    </div>
</div>
