<div id="header">
    <div>
        <h3><a href="#/">Authentication</a></h3>
    </div>
    <div>
        <ul class="nav nav-pills">
            <li><a href="#/">Home</a></li>
            <li><button class="btn btn-default" id="loginNav" ng-click="showLogin()">Login</button></li>
        </ul>
    </div>
</div>
<div class="container">
    <div class="row login">
        <h1>Sign Up</h1>
        <div>
            <form ng-submit="userSignup()">
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" name="email" ng-model="signupData.email">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name="password" ng-model="signupData.password">
                </div>

                <button type="submit" id="local-login" class="btn btn-warning btn-lg">Sign Up</button>
                <a href="#/login">Login</a>
            </form>
        </div>
    </div>
</div>
